<div class="panel panel-default  border border-dark rounded ml-1 container">
  <div class="panel-body mt-1 row">
    <div class="col-sm-3">
      <p>Id :{{cartao.id}}</p>
      <p>Saldo: {{cartao.saldo}}</p>
      <p>Descrição: {{cartao.desc}}</p>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-primary my-5" (click)="onAtualizarSaldo()">Atualizar Saldo</button>
    </div>
    <div class="col-sm-3">
      <p>Calcular Saldo em periodo</p>
      <p>Inicio</p>
      <input type="date" [(ngModel)]="dataInicial" />
      <p>Fim</p>
      <input type="date" [(ngModel)]="dataFim" />
      <button class="btn btn-primary my-5" (click)="onCalcularPeriodo()">Calcular periodo</button>
      <p>Valor previsto Inicio: {{valorPrevistoInicio}}</p>
      <p>Valor previsto Fim: {{valorPrevistoFim}}</p>
    </div>
  </div>
</div>